{% extends 'base.html.twig' %}
{% block seo %}
    <title>Antalasoft</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
{% endblock %}

{% block main %}

  <main class="main">

    <!-- Page Title -->
    <div class="page-title">
      <div class="breadcrumbs">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_home') }}"><i class="bi bi-house"></i> Accueil</a></li>
            <li class="breadcrumb-item active current">Actualités</li>
          </ol>
        </nav>
      </div>

        <div class="title-wrapper">
            <h1>Nos articles</h1>
            <p>Retrouvez nos conseils, actualités et astuces pour rester à jour avec les dernières tendances technologiques.</p>
        </div>

    </div><!-- End Page Title -->

      <!-- recentes actualite Section -->
      <section id="featured-departments" class="featured-departments section pt-0">

          {% include 'sections/blog.html.twig' %}

      </section>
      <!-- /recentes actualite Section-->

  </main>

 {% endblock %}
