<section id="testimonials" class="testimonials section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Ils nous font confiance</h2>
        <p>Découvrez comment Antalasoft a aidé ses clients à digitaliser, automatiser et booster leur croissance grâce à des solutions innovantes.</p>
    </div>
    <!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-4">
            <!-- Testimonial Item 1 -->
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <div class="testimonial-item">
                    <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                    </div>
                    <p>Grâce à Antalasoft, nous avons automatisé la facturation et réduit de façon drastique nos erreurs de saisie. L’équipe a fait preuve d’un grand professionnalisme et a respecté nos délais.</p>
                    <div class="testimonial-footer">
                        <div class="testimonial-author">
                            <img src="{{ asset('assets/img/logo/logo.png') }}" alt="Author" class="img-fluid rounded-circle" loading="lazy">
                            <div>
                                <h5>François Luc</h5>
                                <span>Directeur Général</span>
                            </div>
                        </div>
                        <div class="quote-icon">
                            <i class="bi bi-quote"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Testimonial Item -->

            <!-- Testimonial Item 2 -->
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <div class="testimonial-item">
                    <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                    </div>
                    <p>Leur tableau de bord en temps réel basé sur la Data Science nous a permis d’anticiper les ventes et de mieux gérer nos stocks. Un outil stratégique devenu indispensable.</p>
                    <div class="testimonial-footer">
                        <div class="testimonial-author">
                            <img src="{{ asset('assets/img/logo/logo.png') }}" alt="Author" class="img-fluid rounded-circle" loading="lazy">
                            <div>
                                <h5>Claire Le bois</h5>
                                <span>Responsable Marketing</span>
                            </div>
                        </div>
                        <div class="quote-icon">
                            <i class="bi bi-quote"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Testimonial Item -->

            <!-- Testimonial Item 3 -->
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <div class="testimonial-item">
                    <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                    </div>
                    <p>Antalasoft a développé notre application mobile en un temps record, avec une ergonomie moderne et fluide. Les retours de nos clients sont très positifs.</p>
                    <div class="testimonial-footer">
                        <div class="testimonial-author">
                            <img src="{{ asset('assets/img/logo/logo.png') }}" alt="Author" class="img-fluid rounded-circle" loading="lazy">
                            <div>
                                <h5>Julien Bernard</h5>
                                <span>CEO, Startup Tech</span>
                            </div>
                        </div>
                        <div class="quote-icon">
                            <i class="bi bi-quote"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Testimonial Item -->

            <!-- Testimonial Item 4 -->
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <div class="testimonial-item">
                    <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                    </div>
                    <p>L’intégration d’un chatbot IA a transformé notre relation client. Nos visiteurs trouvent des réponses instantanément et notre équipe gagne un temps considérable.</p>
                    <div class="testimonial-footer">
                        <div class="testimonial-author">
                            <img src="{{ asset('assets/img/logo/logo.png') }}" alt="Author" class="img-fluid rounded-circle" loading="lazy">
                            <div>
                                <h5>Sophie Laurent</h5>
                                <span>Responsable Service Client</span>
                            </div>
                        </div>
                        <div class="quote-icon">
                            <i class="bi bi-quote"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Testimonial Item -->

        </div>

    </div>


</section>
